.plus{height:100px;

    /* background:red; */
display: flex;
margin-left: 0.5ch;
    /* width:100px; */
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.plus:hover{
    background-color: lightblue;
    cursor: pointer;
}
.green{
    background-color: green;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    z-index: 0;
    color: white;
    
}
.uploadButton:hover{
    background-color: #E9EBEC;
}
.button{
    background-color: #0068ff !important;
}